:root {
    --primary-color: #221F38;
    --secondary-color: #FBFAF7;
    --accent-color: #435836;
}


@media screen and (min-width: 1000px) {

    header {
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 30px 15px 30px;
        color: #E8EEF2;
        margin: 0px;
        max-width: 100%;
    }

    .navigation {
        display: flex;
        justify-content: space-around;

    }

    .navigation a {
        font-size: 1rem;
        color: var(--secondary-color);
        text-decoration: none;
        display: flex;
    }

    nav {
        background-color: var(--primary-color);
        list-style: none;
        background-color: var(--primary-color);

        width: 40%;
    }


    #menu {
        display: none;
    }

    a:hover {
        color: var(--accent-color);
        background-color: var(--secondary-color);
    }

    main {
        margin-left: 7%;
        margin-right: 7%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-image-wrapper {
        background-image: url(../images/Logan.png);
        padding: 100px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }



    .hero-section-content-wrapper {
        background-color: var(--secondary-color);
        color: var(--accent-color);
        display: grid;
        grid-template-columns: 3fr 1fr;
        border-radius: 3px;
        box-shadow: 20px 20px 28px 0px rgba(0, 0, 0, 0.75);
    }

    .hero-section-content-wrapper p {
        padding: 20px 30px;
    }

    .hero-section-content-wrapper .link-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .squares-wrapper {
        display: flex;
        justify-content: center;
    }

    .squares-wrapper>.squares {
        width: 1000px;
    }

    .squares-wrapper>.squares>.square {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -4px;
    }

    .square>.image-wrapper img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .square>.square-text-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 42px
    }

    .square>.square-text-wrapper h1 {
        color: var(--accent-color);

    }

    .discover-wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        padding-top: 15px;
    }

    .sidebar {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .sidebar h1 {
        text-align: center;
        font-size: large;
        border-bottom: 2px solid transparent;
        background-image: linear-gradient(to right,
                transparent,
                #435836,
                transparent);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100% 2px;

    }

    .data-wrapper {
        background-color: #435836;
        border-radius: 10px;
        padding: 0px 10px 10px 10px;
    }

    .sidebar h3 {
        font-size: medium;
        text-align: center;
        color: var(--secondary-color);
    }

    .sidebar ul {
        margin: 7px;
        color: var(--secondary-color);
        padding: 0px;
    }

    .sidebar li {
        font-size: 1rem;
        list-style: none;
        padding: 5px;
    }

    .main-wrapper {
        background-color: pink;
    }

    .sidebar-section-wrapper {
        border: 2px solid var(--accent-color);
        border-radius: 10px;
        padding: 10px;
        display: grid;
        grid-gap: 10px;
    }
}